@import "tailwindcss";

@theme {
  --color-author: rgb(55, 65, 81);
  --breakpoint-*: initial;
  --breakpoint-desktop: 84.375rem;
}

@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }
  img {
    height: stretch;
    width: stretch;
  }
}
