@import "tailwindcss";

@theme {
  --color-author: rgb(55, 65, 81);
  /* --shadow: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent); */
}

.shadow {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
}

@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }
  img {
    height: stretch;
    width: stretch;
  }
}
